BODY {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: arial
}
.s {
	FONT-SIZE: 12px; FONT-FAMILY: arial
}
TR {
	FONT-SIZE: 12px; FONT-FAMILY: arial
}
STRONG {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: red; FONT-FAMILY: arial
}
H2 {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 5pt; BORDER-TOP: 0px solid; PADDING-LEFT: 5pt; FONT-WEIGHT: bold; FONT-SIZE: 22px; PADDING-BOTTOM: 5pt; BORDER-LEFT: 0px solid; COLOR: white; PADDING-TOP: 5pt; BORDER-BOTTOM: 0px solid; BACKGROUND-COLOR: #5378d1; TEXT-ALIGN: center
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px
}
P {
	FONT-SIZE: 12px; MARGIN-LEFT: 1em; MARGIN-RIGHT: 1em; FONT-FAMILY: arial; TEXT-ALIGN: justify
}
UL {
	FONT-SIZE: 12px; MARGIN-LEFT: 1em; MARGIN-RIGHT: 1em; FONT-FAMILY: arial; TEXT-ALIGN: justify
}
OL {
	FONT-SIZE: 12px; MARGIN-LEFT: 1em; MARGIN-RIGHT: 1em; FONT-FAMILY: arial; TEXT-ALIGN: justify
}
UL {
	PADDING-LEFT: 30px
}
OL {
	PADDING-LEFT: 30px
}
DIV.b {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 5pt; BORDER-TOP: 0px solid; MARGIN-TOP: 20px; PADDING-LEFT: 5pt; FONT-SIZE: 14px; PADDING-BOTTOM: 5pt; BORDER-LEFT: 0px solid; COLOR: white; PADDING-TOP: 5pt; BORDER-BOTTOM: 0px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #5378d1; TEXT-ALIGN: center
}
DIV.b A:link {
	COLOR: white
}
DIV.b A:visited {
	COLOR: #d0d0d0
}
PRE {
	MARGIN-LEFT: 3em; COLOR: blue
}
PRE I {
	COLOR: green; FONT-STYLE: normal
}
